.root {
  @mixin body-2;

  position: relative;
  z-index: 1;
  padding-top: calc(15vh + var(--fs-display-1) + var(--spc-10));
  margin-top: calc(var(--app-height) / 2);
  margin-bottom: 300vh;
  color: var(--color-white);

  @media (--md-l) {
    margin-top: var(--app-height);
  }

  h3 {
    margin-top: var(--content-block-margin-top);
  }
}

.awardsTitle {
  margin-top: var(--spc-10);
}

.section {
  margin-top: var(--content-block-margin-top);
}

.columns {

  @media (--md-l) {
    display: flex;
    flex-direction: row;
    gap: var(--spc-4);

    > * {
      flex: 1;
    }
  }
}

.text-special {
  background-color: #02031A;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding: 2rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.highlight-game {
  color: #A96BFF; /* for "Starcraft: Brood War" */
}

.numbers-one {
  color: white;
  font-weight: 700;
}

.numbers-one .highlight {
  color: #7B6CFF;
}